{% extends "base_account.html" %}

{% block content %}
    <div class ="custom-body">
        <div class="d-flex justify-content-center">
            <div class="border border-2 rounded-1" style="margin-top: 10vw; --bs-border-opacity: .5;">
                <div class="d-flex justify-content-center mt-5 mb-5" >
                    <a class="custom-brand-logo navbar-brand" href="{% url 'products:home' %}">스파-마켓</a>
                </div>
                <form action="{% url 'accounts:signup' %}" class="custom-login-form" method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <div class="d-grid gap-2" style="padding-bottom: 1vw;">
                        <input type="submit" class = "btn btn-primary" style="background-color: tomato; 
                        border: 0cap; font-weight: 600; font-size: 14px;"  value="가입">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}