{% extends "base.html" %}

{% block content %}
    <h2>{{ article.title }}</h2>
    <a href="{% url 'accounts:profile' article.author.id %}">{{ article.author.nickname }}</a>
    
    {% if article.image %}
        <img src="{{ article.image.url }}">
    {% endif %}

    <p>{{ article.content }}</p>
    <p>작성일시 : {{ article.created_at }}</p>

    <a href="{% url 'products:edit' article.id %}">수정</a>
    <form action="{% url 'products:delete' article.id %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="삭제">
    </form>

    <form action="{% url 'products:like' article.id %}" method="POST">
        {% csrf_token %}
        {% if request.user in article.like_users.all %}
            <input type="submit" value="좋아요 취소">       
        {% else %}
            <input type="submit" value="좋아요">
        {% endif %}
    </form>

    <a href="{% url 'products:home'%}">
        <button>
            <i class="fas fa-arrow-circle-left"></i>
            <span>목록으로</span>
        </button>
    </a>
{% endblock content %}