{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row row-cols-1 row-cols-md-4 g-4">
    {% for article in articles %}
    <div class="col" onclick="goToArticle('{{ article.id }}')">
        <div class="card h-100 rounded-4">
            {% if article.image %}
            <img src="{{ article.image.url }}" class="img-fluid rounded-4" alt='{% static "products/noimage.png"%}'>
            {% else %}
            <img src='{% static "products/noimage.png"%}' class="img-fluid rounded-5" alt="">
            {% endif %}
            <div class="card-body">
                <h2 class="card-title">{{ article.title }}</h2> <br>
                <div class="card-text">{{ article.price }} 원</div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<script>
    function goToArticle(articleId) {
        window.location.href = "article/" + articleId;
    }
</script>


{% endblock content %}